




<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @link.title %>
</p>

<p>
  <strong>Url:</strong>
  <%= @link.url %>
</p>

<% if @link.user == current_user %>
	<td><%= link_to 'Edit', edit_link_path(@link) %></td>
    <td><%= link_to 'Destroy', @link, method: :delete, data: {confirm: 'Are you sure?'} %></td>
<% end %>



<h3 class = "comments_title">
	<%= @link.comments.count %> Comments
</h3>

<h1><a href="<%= @link.url %>"><%= @link.title %></a><br> <small>Submitted by <%= @link.user.name %></small></h1>

<div id = "comments">
	<%= render :partial => @link.comments %>
</div>

<%= simple_form_for [@link, Comment.new] do |f| %>
	<div class = "field">
		<%= f.text_area :body, class: "form-control" %>
	</div>
	<br>
	<%= f.submit "Add Comment", class: "btn btn-primary" %>
<% end %>


